html{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(135deg, #e0f7fa, #fce4ec);
}

header{
    margin-top: 50px;
    color: #343a40;
}

main{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

p{
    font-size: 20px;
}

footer{
    text-align: center;
    background-color: rgb(0, 128, 163);
    color: white;
    padding: 15px;
}

footer a{
    color: rgb(179, 250, 255);
}
